*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: auto;
  height: 100%;
  overflow: auto;
  background-color: rgb(181, 157, 148);
  margin:1% 10%;

}
header{
  /* background-color: red; */
  text-align: center;
  /* height: 500px; */
  margin:0 auto;

}
main{
  margin:0 auto;
  /* background-color: green; */
}
main::after{
  content:"";
  display: table;
  clear:both;
}
footer{
  /* background-color: blue; */
  padding:1%;
}

.testo-img{
  position: absolute;
  display: inline-block;
  font-weight: bolder;
  color:white;
  font-size: 30px;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0 auto;
  text-transform: uppercase;

}
.blocco-img{
  position: relative;
  display: inline-block;
  background-color: lightgrey;
  width: 70%;
  height: 350px;
  background-image: url(https://images.unsplash.com/photo-1448375240586-882707db888b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zm9yZXN0YSUyMDRrfGVufDB8fDB8fHww);
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;

}
.blocco-menù{
  background-color: lightgrey;
  margin:1% 15%;
  width: 70%;
  height: 50px;
  border:1px solid black;
  margin:0 auto;

}
.blocco-menù span{
  display: inline-block;
  width: 16%;
  /* margin: 1% 1%; */
  font-size: 1.5em;
  padding: 1% 1%;
  margin:0 auto;

}
.colonna-3{
  float: left;
  width: 100px;
  /* border: 2px solid black; */
  padding:1%;
}
.colonna-1 , .colonna-2{
  float: left;
  width: 100px;
  /* border: 2px solid white; */
  padding:1%;
  border-radius: 1%;

}
.colonna-1{
  width: 20%;
  margin: 2% 2%;
  padding: 1% 1%;
  text-align: center;
  background-color:white;
  /* font-size: 1em; */
}
.colonna-2{
  width: 48%;
  margin: 2% 2%;
  padding: 1% 1%;
  background-color:white;
  border-radius: 1%;
}
.testo-speciale{
  transform: translateX(-10%);
}
.colonna-3{
  /* background-color: lightgrey; */
  width: 20%;
  margin: 2% 2%;
  padding:0;
  /* font-size: 1em; */
}
.contain-a{
  float: left;
  padding: 6% 6%;
  background-color:white;
  /* border: 1px solid black; */
  border-radius: 1%;

}
.contain-b{
  float: left;
  padding: 6% 6%;
  background-color:white;
  /* border: 1px solid black; */
  margin-top: 20%;
  border-radius: 1%;

}
.a{
  float:left;
  /* background-color: pink; */
}
.b{
  float:left;
  /* background-color: yellow; */

}
.link a{
  display: inline-block;
  font-size: 1em;
  font-weight: bolder;
  color:green;
  margin: 5% 0;
  /* border: 2px solid black; */
}
a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
  color: orange;
  font-size: 150%;
}
#icon-wifi{
  display: inline-block;
  transform: rotate(45deg);
  color:orange;
  font-size: 30px;
  margin: 5% 0;
}
.contenitore-f{
  background-color:white;
  width: 100%;
  text-align: center;
  margin:5% auto;
  border:1px solid black;
  padding:1%;
}
.contenitore-f i{
  color: grey;
  display: inline-block;
  font-size: 30px;
  margin: 5% 5%;
}
hr{
  border: 1px solid grey;
  margin: 0 -15px;
}
.testo-f{
  color:grey;
  font-style: oblique;
  font-weight: bolder;
}
h2{
  display: inline-block;
}
h3{
  margin: 3% 5%;
}
h4{
  margin: 3% 5%;

}
.face-link:hover{
  color:rgb(72, 100, 159);
  font-size: 400%;
}
.insta-link:hover{
  color:rgb(247, 6, 145);
  font-size: 400%;
}
.git-link:hover{
  color:rgb(0, 0, 0);
  font-size: 400%;
}
