*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: auto;
  height: 100%;
  overflow: auto;
  background-color: rgb(145, 102, 71);
  margin:1% 10%;

}
header{
  /* background-color: red; */
  text-align: center;
  /* height: 500px; */
  margin:0 auto;

}
main{
  margin:0 auto;
  /* background-color: green; */
}
main::after{
  content:"";
  display: table;
  clear:both;
}
footer{
  /* background-color: blue; */
  padding:1%;
}


.blocco-img{
  background-color:red;
  border: 4px solid white;
  position: relative;
  display: inline-block;
  background-color: lightgrey;
  width: 70%;
  height: 350px;
  background-image: url(https://images.unsplash.com/photo-1448375240586-882707db888b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zm9yZXN0YSUyMDRrfGVufDB8fDB8fHww);
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}
.logo-m{
  font-size: 40px;
  font-weight: bolder;
  color:white;
  margin:0 auto;
  text-transform: uppercase;
}
.testo-1{
  border: 4px solid white;
  font-size: 90px;
  margin:0 130px;
  padding:0 1%;
}
.testo-2{
  font-size: 40px;
  text-align: center;
  margin: 5% auto;
}
.blocco-testi{
  width: 70%;
  position: absolute;
  display: inline-block;
  font-size: 30px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white;
  margin-top: 4%;
}
.blocco-menù{
  background-color: #504741;
  width: 70%;
  height: 50px;
  margin:-4px auto;
}
.blocco-menù span{
  display: inline-block;
  color:white;
  text-align: center;
  line-height: 50px;
  padding: 0% 2%;
  text-decoration:none;
  text-transform: uppercase;
  border-right:1px solid #302A25;
  border-left: 1px solid lightgrey;
  font-weight: bold;
  font-size: 14px;
}


.blocco-menù span:first-child{
  border-left: 0;
}
.blocco-menù span:last-child{
  border-right: 0;
}
.blocco-menù span:hover{
  color:#C8C6C5;
  background-color:#302A25;
}


.colonna-3{
  float: left;
  width: 100px;
  /* border: 2px solid black; */
  padding:1%;
}
.colonna-1 , .colonna-2{
  float: left;
  width: 100px;
  /* border: 2px solid white; */
  padding:1%;
  border-radius: 1%;

}
.colonna-1{
  width: 20%;
  margin: 2% 2%;
  padding: 1% 1%;
  text-align: center;
  background-color:white;
  /* font-size: 1em; */
}
.colonna-2{
  width: 48%;
  margin: 2% 2%;
  padding: 1% 1%;
  background-color:white;
  border-radius: 1%;
}
.testo-link{
  text-align: left;
}
.testo-speciale{
  transform: translateX(-10%);
  text-align: center;
}
.colonna-2 p{
  margin-top:6%;
}
.colonna-3 p{
  margin-top:25%;
}
.colonna-3{
  /* background-color: lightgrey; */
  width: 20%;
  margin: 2% 2%;
  padding:0;
  /* font-size: 1em; */
}
.contain-a{
  float: left;
  padding: 6% 6%;
  background-color:white;
  /* border: 1px solid black; */
  border-radius: 1%;
}
.contain-b{
  float: left;
  padding: 6% 6%;
  background-color:white;
  /* border: 1px solid black; */
  margin-top: 20%;
  border-radius: 1%;
}


.a{
  float:left;
  /* background-color: pink; */
}
.b{
  float:left;
  /* background-color: yellow; */
}

.link a{
  display: inline-block;
  font-size: 1em;
  font-weight: bolder;
  color:green;
  margin: 5% 0;
  /* border: 2px solid black; */
}
a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
  color: orange;
  font-size: 150%;
}
#icon-wifi{
  transform: rotate(45deg);
  color:orange;
  font-size: 30px;
  margin: 0 0;
  /* display: inline-block; */
  vertical-align: 30px;
}


.contenitore-f{
  background-color:white;
  width: 100%;
  text-align: center;
  margin:5% auto;
  border:1px solid black;
  padding:1%;
}
.contenitore-f i{
  color: grey;
  display: inline-block;
  font-size: 30px;
  margin: 5% 15%;
}
hr{
  border: 1px solid grey;
  margin: 0 -15px;
}
.testo-f{
  color:grey;
  font-style: oblique;
  font-weight: bolder;
}

h2{
  display: inline-block;
  text-transform: uppercase;
  margin: 2% 5%;
}
.colonna-2 h2{
  text-shadow: 2px 2px grey;
  display: inline-block;
  text-transform: uppercase;
  margin: 2% 5%;
}
h3{
  text-transform: uppercase;
  margin: 2% 5%;
}
h4{
  text-transform: uppercase;
  margin: 2% 5%;
}


.face-link:hover{
  color:rgb(72, 100, 159);
  font-size: 200%;
}
.insta-link:hover{
  color:rgb(247, 6, 145);
  font-size: 200%;
}
.git-link:hover{
  color:rgb(0, 0, 0);
  font-size: 200%;
}
